{% extends "base.html" %}
{% load static %}
{% block title %}
    Recipe List
{% endblock title %}
{% block content %}
    <h2>Recipe List</h2>
    <h3>
        <ul>
            {% for recipe in object_list %}
                <li>
                    <a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </h3>
{% endblock content %}

<!--  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Book</title>
</head>
<style>
body {background-color:blanchedalmond}
</style>
<body>
    <h1 style = "color:blue"> <a href = '/recipes/list'> Recipe Book </a></h1>
    <h2>
        <ul>
            {% for recipe in recipes %}
            <li style = "color:red"><a href= "{{ recipe.link }}" >{{ recipe.name }}</a></li>
            {% endfor %}
        </ul>
    </h2>
</body>
</html>
-->