<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset ="UTF-8">
        <meta name ="viewport" content="width=device-width,initial-scale=1.0">
        <title> Recipe Book </title>
    </head>
    <style>
        body {background-color:blanchedalmond}
        </style>
    <body>
        <h1 style = "color:blue"> <a href ='/recipes/list'> Recipes </a> </h1>
        <h2> {{ name }} </h2>
        <h3> 
            <ul> 
                {% for ingredient in ingredients %}
                <li style = "color:red"> {{ ingredient.quantity }} {{ingredient.name}} </li>
                {% endfor %}
            </ul>
        </h3>
    </body>
</html>

-->

{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ recipe.name }}
{% endblock title %}
<h2>{{ recipe.name }}</h2>
{% block content %}
    <h3>by {{ recipe.author }}</h3>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.quantity }} {{ ingredient.ingredient.name }}</li>
        {% endfor %}
    </ul>
{% endblock content %}
